<link rel="stylesheet" href="/css/styles.css">
<header>
<nav>   
      <span></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products/">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Add product</a>
        </li>
      </ul>
    </div>
  </nav>
</header>