
<header>
<nav>   
    <div>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/snippets">View Snippets</a>
        </li>
        <li>
          <a href="/signup">Sign-up</a>
        </li>
        <li>
          <% if(test.login === undefined) { %>
            <a href="/login">Login</a>
          <%}else { %>
            <a href="/signout">Sign-out</a>
          <%}%>
        </li>
      </ul>
    </div>
  </nav>
</header>
