  <h1>VIEW SNIPPETS</h1>
        <div class ="snippetpage">
            <% if (snippet?.length > 0) { %>
                <% snippet.forEach(obj => { %>
                    <div class="snippetwrapper">
                    <p class="titletext"><%= obj.title %></p>
                        <pre><code class="codetext"><%=obj.body %></code></pre>
                     <p class="authortext">Author: <%=obj.author%></p>
                    </div>
                <% }) %>
              <% } else { %>
                  <p>No products to display.</p>
              <% } %>
        </div>