<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <form>
        <p>Snippet title</p>
            <input type="text" id="inputName" name="name" placeholder="Snippet title" required="required" autofocus="autofocus" />
        <p>Snippet code</p>
           <textarea id="usersnippet" name="usersnippet" rows="4" cols="50" required ="required"></textarea>
        <p class="author-text">Author</p>
            <input type="text" id="inputName" name="name" placeholder="Author" required="required" autofocus="autofocus" />
        <button type="submit" class="savebutton">Save</button>
    </form> 
</body>
</html>