
        <div class ="signup-page">
                <p class="signup-page-text">Sign up here:</p>
                <form method="post" action="../signup">
                    <label for="fname">User Name</label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="lname">Password (min 8 characters)</label><br>
                    <input type="password" pattern=".{8,1000}" id="signup" name="password"><br>
                    <button type="submit" class="savebutton">Create User</button>
                  </form>                  
            </div>
